{% load i18n static compress %}<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Coding Is My Business... and Business Is Good!</title>
{% compress css %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
<style type="text/css">
.starter-template {
  margin-top: 60px;
}
#create_todolist_title { width: 300px; }
</style>
{% endcompress %}
{% block head %}
{% endblock %}
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Shared TO-DO</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li {% if request.path == "/" %}class="active"{% endif %}><a href="/">Home</a></li>
                    <li {% if request.path == "/p/about-us/" %}class="active"{% endif %}><a href="/p/about-us/">About</a></li>
                    {% if request.session.curr_profile %}
                    <li {% if request.path == "/lists/" %}class="active"{% endif %}><a href="/lists/">Lists</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if request.session.curr_profile %}
                    <li {% if request.path == "/profile/" %}class="active"{% endif %}><a href="/profile/">Hello {{request.session.curr_profile.first_name}}</a></li>
                    <li {% if request.path == "/profile/" %}class="active"{% endif %}><a href="/profile/">Change profile</a></li>
                    <li><a href="/signout/">Logout</a></li>
                    {% else %}
                    <li {% if request.path == "/signin/" %}class="active"{% endif %}><a href="/signin/">Log in</a></li>
                    <li {% if request.path == "/signup/" %}class="active"{% endif %}><a href="/signup/">Register</a></li>
                    {% endif %}
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">
        <div class="starter-template">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        
        {% block content %}
        {% endblock %}
        </div>
    </div>
    <!-- /.container -->
    {% compress js %}
    <script type="text/javascript" src="{% static "jquery-2.1.0.js" %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static "general.js" %}"></script>
    {% endcompress %}
</body>
</html>
