{% extends "admin/base_site.html" %} {% load i18n static %} {% block content_title %}
<a class="navbar-brand" href="{{link_list}}"> Central data repository: {{title}} </a>

<form class="navbar-form navbar-right" role="search" id="changelist-search" action="" method="get">
    <div class="form-group">
        <!-- DIV needed for valid HTML -->
        <input type="search" class="form-control search-query" placeholder="Search" size="40" name="q" value="{{search_term}}" id="searchbar" autofocus>
    </div>
</form>

<!--
<link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/handsontable/0.12.2/handsontable.full.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/handsontable/0.12.2/handsontable.full.min.js"></script>
-->

<script src="{% static 'handsontable.full.js' %}"></script>
<link rel="stylesheet" media="screen" href="{% static 'handsontable.full.css' %}">


<link href="{% static 'bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
<script type="text/javascript" src="{% static 'bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>


<link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<!--
<link rel="stylesheet" media="screen" href="{% static 'jquery.datetimepicker.css' %}">
<script type="text/javascript" src="{% static 'jquery.datetimepicker.js' %}"></script>
-->

<script src="{% static 'hot_customcells.js' %}"></script>



<!--
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>
-->

<script type="text/javascript">
var Hotgrid = {};
Hotgrid.SPECIAL_PREFIX = '{{SPECIAL_PREFIX}}';
Hotgrid.TEMP_ID_PREFIX = Hotgrid.SPECIAL_PREFIX+'_pk__';
Hotgrid.MAX_ROWS = {{MAX_ROWS}};
Hotgrid.url_load_save = window.location.href; // the save action  is simply POSTing to the same url
Hotgrid.table_columns = {{table_columns|safe}};
Hotgrid.table_data = {{table_data|safe}};
</script>

<script type="text/javascript">
{% include 'handsontable_base.js'%}
</script>

<style type="text/css">
.handsontable td.forceInvalid { background-color: #ff4c42; }
.handsontable tr:last-child td.htInvalid { background-color: #ffffff !important; }

/* to leave enough margin for the footer */
body {
    padding-bottom: 60px;
}

/* set max widths for columns and put the autocomplete arrow to the right top, always */
table.htCore tbody tr td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    position: relative;
}
.handsontable .htAutocompleteArrow {
    position: absolute;
    top: 0px;
    right: 0px;
}

.datetimepicker { background-color: white; border: outset; z-index: 2000; }
</style>

{% endblock %} {% block content %}

<div id="handsontable_main" class="handsontable"></div>

<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <span class="navbar-brand" id="list_notification">Loading...</span>
        <div class="navbar-right">
            <div class="navbar-brand" id="save_notification"></div>
            <span id="footer_buttons_while_browsing"> <span class="navbar-brand" id="click_to_edit_message">Double-click the spreadsheet or press:</span>
                <button type="button" class="btn btn-primary  navbar-btn" id="edit_sheet">Edit sheet</button>
            </span> <span id="footer_buttons_while_editing" style="display: none"> <span class="navbar-brand" id="change_counter"></span>
                <button type="button" class="btn navbar-btn btn-warning" id="cancel_sheet">Cancel</button>
                <button type="button" class="btn navbar-btn btn-success" id="save_sheet">Save Changes</button>
            </span>
        </div>
    </div>
</div>

{% endblock %}
