{% extends "handsontable_base.html" %}
{% load i18n admin_static %}

{% block content_title %}
<a class="navbar-brand" href="{{link_list}}"> Central data repository: {{title}} </a>

<ul class="nav navbar-nav pull-right">
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter <span class="caret"></span></a>
        <ul class="dropdown-menu pull-right">
            <li class="dropdown-header">By restaurant</li>
            <li><a href="?">All</a></li>
            {% for text in list_CITY_REGION %}
            <li><a href="?filt_CITY_REGION={{text|escape}}&q={{search_term}}">{{text}}</a></li>
            {% endfor %}
        </ul></li>
</ul>

<form class="navbar-form navbar-right" role="search" id="changelist-search" action="" method="get">
    <div class="form-group">
        <!-- DIV needed for valid HTML -->
        <input type="search" class="form-control search-query" placeholder="Search" size="40" name="q" value="{{search_term}}" id="searchbar" autofocus>
    </div>
</form>

{% endblock %} 
